.catgry { padding-left: 1.5em }

.location > .labl, .serName { font-size: 1.5em }

.titlStmt > .titl { font-size: 2em }

.stdyDscr > div > div { padding: 0.6em }

.catgry .catValu { display: none }
.stdyDscr > .citation > .titlStmt { display: none }
.holdings { display: none }
.prodStmt { display: none }
.IDNo     { display: none }
.software { display: none }
.fileType { display: none }
.fileName { display: none }
.version  { display: none }
.varQnty  { display: none }
.caseQnty { display: none }

.topcClas { padding-top: 1em }

.var > .labl {
  font-size: 1.5em;
  padding: 0.5em;
}

.varGrp > .labl, .keyword, .catgry .labl {
  display: list-item;
  list-style-position: inside;
  padding-left: 0.3em;
}

.abstract, .notes {
  background-color: #CDCDCD;
  margin: 0.3em;
}
